<section class="header-container">
    <div class="background-overlay"></div>
    <div class="main-heading">
        <h1>The Faculty of Media & Creative Arts</h1>
        <p>LET'S DESIGN YOUR FUTURE WHERE YOUR CREATIVITY COMES TO LIFE</p>
    </div>

</section>