<ul class="student-btn" id="student">
    <li class="student-btn-list">
        <input type="radio" name="student" id="clara" class="student_btn" value="clara">
        <label for="clara">Clara</label><br>
        <div class="check"></div>
    </li>
    <li class="student-btn-list">
        <input type="radio" name="student" id="maftuna" class="student_btn" value="maftuna">
        <label for="maftuna">Maftuna</label><br>
        <div class="check"><div class="inside"></div></div>
    </li>
    <li class="student-btn-list">
        <input type="radio" name="student" id="hailey" class="student_btn" value="hailey">
        <label for="hailey">Hailey</label><br>
        <div class="check"><div class="inside"></div></div>
    </li>
</ul>

<section id="student-info"></section>

</section>

<script src="/js/student-resume.js"></script>