<ul class="student-btn" id="student">
    <li class="student-btn-list">
        <input type="radio" name="student" id="act" class="student_btn" value="act">
        <label for="act">Clara</label><br>
        <div class="check"></div>
    </li>
    <li class="student-btn-list">
        <input type="radio" name="student" id="animation" class="student_btn" value="animation">
        <label for="animation">Maftuna</label><br>
        <div class="check"><div class="inside"></div></div>
    </li>
    <li class="student-btn-list">
        <input type="radio" name="student" id="3d" class="student_btn" value="3d">
        <label for="3d">Hailey</label><br>
        <div class="check"><div class="inside"></div></div>
    </li>
</ul>

<section id="items"></section>

</section>

<script src="/js/student-resume.js"></script>