
<section class="header-container">
    <div class="student-header">
        <h1> Student Page</h1>
        <p>You Can Check Your Latest Assignments and So Much More!</p>
    </div>
</section>

<div class="services-nav">
    <div>
        <button class="options-drpdown">General Services</button>
        <div class="panel">
            <ul>
                <li><a href="#">Update Personal Info</a></li>
                <li><a href="#">Locker &amp; Parking</a></li>
                <li><a href="#">Request Photo ID</a></li>
                <li><a href="#">Library</a></li>
                <li><a href="#">Library</a></li>
                <li><a href="#">Health &amp; Wellness</a></li>
            </ul>
        </div>
    </div>

    <div>
        <button class="options-drpdown">Financial Services</button>
        <div class="panel">
            <ul>
                <li><a href="#">Tuition &amp; Fees Quote</a></li>
                <li><a href="#">Enhanced Student Experience Fees</a></li>
                <li><a href="#">Miscellaneous Charges</a></li>
                <li><a href="#">Apply for Student Aid</a></li>
                <li><a href="#">Account Balance Summary</a></li>
                <li><a href="#">T2202a Tax Forms</a></li>
            </ul>
        </div>
    </div>

    <div>
        <button class="options-drpdown">Academic Services</button>
        <div class="panel">
            <ul>
                <li><a href="#">Request an Official Transcript</a></li>
                <li><a href="#">Transfer Credits</a></li>
                <li><a href="#">Apply to Attend Convocation</a></li>
                <li><a href="#">CE Calender</a></li>
                <li><a href="#">Co-Curricular Record</a></li>
                <li><a href="#">Withdraw from Program or Semester</a></li>
                <li><a href="#">Confirmation of Enrollment/ Graduation</a></li>
            </ul>
        </div>
    </div>

    <div>
        <button class="options-drpdown">Registration Services</button>
        <div class="panel">
            <ul>
                <li><a href="#">Registration Information</a></li>
                <li><a href="#">Browse Classes</a></li>
                <li><a href="#">Browse Course Catalog</a></li>
                <li><a href="#">Plan Ahead</a></li>
                <li><a href="#">Register for Classes</a></li>
            </ul>
        </div>
    </div>
</div>

<section class="student-essentials">
    {{!-- <h2 class="center"><i class="fas fa-graduation-cap"></i> Academics</h2> --}}
    <div class="schedule-header"></div>
    <div class="student-schedule">
        <h2><i class="fas fa-calendar-alt"></i> Course Schedule</h2>
        <ol class="schedule-list">
            <li class="schedule">
                <p class="bold">Day of The Week</p>
                <p class="bold">Course Name</p>
                <p class="bold">Course Code</p>
                <p class="bold">Time</p>
            </li>
            <li class="schedule">
                <p>Monday</p>
                <p>Frameworks</p>
                <p>WDDM-122</p>
                <p>11:35 - 14:20</p>
            </li>
            <li class="schedule">
                <p>Tuesday</p>
                <p>Programming</p>
                <p>WDDM-123</p>
                <p>14:20 - 18:00</p>
            </li>
            <li class="schedule">
                <p>Wednesday</p>
                <p>Design</p>
                <p>WDDM-124</p>
                <p>12:35 - 15:15</p>
            </li>
            <li class="schedule">
                <p>Thurday</p>
                <p>Portfolio</p>
                <p>WDDM-125</p>
                <p>18:05 - 20:45</p>
            </li>
        </ol>
    </div>

    <div class="assignments">
        <h2><i class="fas fa-pencil-alt"></i> Upcoming Assignments</h2>
        <ol class="schedule-list">
            <li class="schedule">
                <p class="bold">Course Name</p>
                <p class="bold">Assignment Name</p>
                <p class="bold">Deadline</p>
                <p class="bold">Description</p>
            </li>
            <li class="assignment">
                <p>Frameworks</p>
                <p>Assignment1 Part2</p>
                <p>March 8th</p>
                <p><a href="">View Assignment</a></p>
            </li>
            <li class="assignment">
                <p>Programming</p>
                <p>Assignment 2</p>
                <p>March 9th</p>
                <p><a href="">View Assignment</a></p>
            </li>
            <li class="assignment">
                <p>Portfolio</p>
                <p>Logo Assignment</p>
                <p>March 12th</p>
                <p><a href="">View Assignment</a></p>
            </li>
        </ol>
    </div>

    <div class="grades">
        <h2><i class="fas fa-medal"></i> Grades</h2>
        <ol class="schedule-list">
            <li class="assignment">
                <p class="bold">Course Name</p>
                <p class="bold">Assignment Name</p>
                <p class="bold">Date Graded</p>
                <p class="bold">Grade</p>
            </li>
            <li class="assignment">
                <p>Frameworks</p>
                <p>Assignment1 Part1</p>
                <p>March 8th</p>
                <p>40 / 100</p>
            </li>
            <li class="assignment">
                <p>Programming</p>
                <p>Assignment 2</p>
                <p>March 9th</p>
                <p>75 / 100</p>
            </li>
            <li class="assignment">
                <p>Portfolio</p>
                <p>Logo Assignment</p>
                <p>March 12th</p>
                <p>50 / 100</p>
            </li>
        </ol>
    </div>

    <div class="course-materials">
        <h2><i class="fas fa-paperclip"></i> Course Materials</h2>
        <ul class="materials">
            <li><a href="" class="blue"><i class="fas fa-laptop-code"></i> Frameworks</a></li>
            <li><a href="" class="orange"><i class="fas fa-code"></i> Programming</a></li>
            <li><a href="" class="green"><i class="fas fa-palette"></i> Design</a></li>
            <li><a href="" class="red"><i class="fas fa-clipboard"></i> Portfolio</a></li>
        </ul>
    </div>

</section>

<section class="info-section">
    <p>Take Advantage of Our Various Opportunities and Experience a Whole New Culture While You Are A Student</p>
</section>

<section class="box-container">
    <div class="box">
        <img class="box-img" src="../img/7.jpg">
        <h2>
            Resources
            <div class="style-under"></div>
        </h2>
        <p>Gain invaluable global experience in today’s interconnected world. Be one of the more than 500 Humber
            students who go abroad for enriching study, volunteer or work-related experiences each year.</p>
        <a href="">
            <div class="box-btn">
                <div class="box-btn--txt">Learn More</div>
            </div>
        </a>
    </div>

    <div class="box">
        <img class="box-img" src="../img/1.jpg">
        <h2>
            Global Opportunities
            <div class="style-under"></div>
        </h2>
        <p>Find out how to take advantage of our learning labs, specialized equipment and Centres of Innovation. Check
            important academic dates and learn more about faculty events.</p>
        <a href="">
            <div class="box-btn">
                <div class="box-btn--txt">Learn More</div>
            </div>
        </a>
    </div>

    <div class="box">
        <img class="box-img" src="../img/3.jpg">
        <h2>
            Transfer Options
            <div class="style-under"></div>
        </h2>
        <p>Find out more about transfer options including, transfer credits, switching programs, and furthering your
            education through Humber partnerships with schools around the world.</p>
        <a href="">
            <div class="box-btn">
                <div class="box-btn--txt">Learn More</div>
            </div>
        </a>
    </div>
</section>

<script src="/js/home-p.js"></script>
