<section class="grid-box">
    <div class="profile-smallimg">
        <div class="profile__image"><img src="../img/maftuna.png"/></div>
        <div class="profile__info">
            <h3>Maftuna</h3>
            <p class="profile__info__extra"> WDDM-f19 </p>
            <p>Experienced graphic designer and web developer with a demonstrated history of woeking in information technology.</p>
        </div>
        <div class="profile__stats">
            <p class="profile__stats__title">Humber was great because it gives you a guideline for how to work in teams.  How to create artwork for someone else, not just yourself.</p>
        </div>
        <div class="profile__cta">
            <a class="button">See More</a>
        </div>
    </div>

    <div class="profile-smallimg">
        <div class="profile__image"><img src="../img/golden.jpg"/></div>
        <div class="profile__info">
            <h3>Clara</h3>
            <p class="profile__info__extra"> WDDM-f19</p>
            <p>Detail oriented web developer with years of experience in Web UI and Front-end development.</p>
        </div>
        <div class="profile__stats">
            <p class="profile__stats__title">Humber was great because it gives you a guideline for how to work in teams.  How to create artwork for someone else, not just yourself.</p>
        </div>

        <div class="profile__cta">
            <a class="button">See More</a>
        </div>
    </div>

    <div class="profile-smallimg">
        <div class="profile__image"><img src="../img/hailey.png"/></div>
        <div class="profile__info">
            <h3>Hailey Koo</h3>
            <p class="profile__info__extra">WDDM-f19</p>
            <p>A new graduate, currently furthering my studies in UI/UX and Front-end development.</p>
        </div>
        <div class="profile__stats">
            <p class="profile__stats__title">Humber was great because it gives you a guideline for how to work in teams.  How to create artwork for someone else, not just yourself.</p>
        </div>

        <div class="profile__cta">
            <a class="button">See More</a>
        </div>
    </div>
</section>