/* Nav bar */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
  --color-blue: #2B415C;
  --middlecolor: #959a8f;
  --color-white: #f7f7f7;
  --color-babypink: #f6abab;
  --color-mint: #cf9e76;
  --color-background: #cf9e76;
  --color-lightkhaki: #cf9e76;
  
}

body {
  font-family: 'Montserrat',sans-serif;
  font-style: normal;    
  font-weight: 400;   
  font-size: 1em;   
  line-height: 1.5;
  background: var(--color-white);    
  color: #615e5e;
  background-color: var(--color-white);
  }
  a {
    text-decoration: none;
  } 

.header {
  position: relative;
  background-color: #797878;
  overflow: hidden;
  min-width: 21.875em;
}

.header a {
  color: var(--color-white);
}

  
.header h1 {
  float: left;
  color: var(--color-white);
  }
  
#menu-toggle {
  display: block;
  float: right;
  color: var(--color-white);
  text-decoration: none;
  padding: .75em;
  margin: 1em 1em 0 0;
  }
  
.nav ul {
  clear: left;
  list-style-type: none;
  color: var(--color-white);
  padding-left: 0;
  margin-bottom: 0;
}
  
#toggled {
  display: none;
}
  
.nav > ul > li {
  padding: 1em 0 1em 1.4em;
  border-top: 1px grey solid;
  text-transform: uppercase;
  margin-right: 3em; 
} 

.logo { 
  width: 6.125em;
  padding-left: 1em;
}

@media screen and (min-width: 41.25em) {
  #menu-toggle {
    display: none;
  }
  .nav {
    float: right;  
  }
  .nav ul {
    display: block !important;
  }
  .nav > ul > li {
    float: left;
    padding: 1em;
    border-top: none;
  }

  .logo { 
    width: 6.125em;
    padding-left: .5em;
    margin-left: 3em;
  }
}

/* Footer */
footer {
	background-color: #f7f7f7;
	color: #1c1818;
	line-height: 1.5;
  }
  footer a {
	text-decoration: none;
	color: #1c1818;
  }
  
  footer a:hover {
	text-decoration: underline;
  }
  
  footer li {
	list-style: none;
  }
  
  .ft-title {
	color: #1c1818;
	font-family: "Courgette", serif;
	font-size: 1.375rem;
	padding-bottom: 0.625rem;
  }
  
  /* Sticks footer to bottom */
  body {
	display: flex;
	min-height: 100vh;
  flex-direction: column;
  }
  .container {
	flex: 1;
  }
  
  /* Footer main */
  .ft-main {
	padding: 1.25rem 1.875rem;
	display: flex;
	flex-wrap: wrap;
  }
  
  .ft-main-item {
	padding: 1.25rem;
	min-width: 12.5rem;
  }
  
  /* Footer main | Newsletter form */
  .email {
	text-align: center;
  }
  
  input[type="email"] {
	border: 0;
	padding: 0.625rem;
	margin-top: 0.3125rem;
  }
  input[type="submit"] {
	background-color:#464655;
	color: var(--color-white);
	cursor: pointer;
	border: 0;
	padding: 0.625rem 0.9375rem;
	margin-top: 0.3125rem;
  }

  /* Footer social */
  .ft-social-list {
	display: flex;
	justify-content: center;
	border-top: 1px #777 solid;
	padding-top: 1.25rem;
	
  }
  .ft-social-list li {
	margin-right: 1.25em;
	font-size: 2rem;
	list-style: none;
  }

  .ft-social-list li a:link,
  .ft-social-list li a:visited {
      text-decoration: none;
      border: 0;
      color: #1c1818;
      -webkit-transition: color 0.2s;
      transition: color 0.2s;
  }

.logo-facebook:hover {
    color: #4a6fc0;
}

.logo-twitter:hover {
    color: #00aced;
}

.logo-googleplus:hover {
    color: #dd4b39;
}

.logo-instagram:hover {
    color:#bc2a8d;
}

  /* Footer legal */
  .ft-legal {
	  padding: 0.9375rem 1.875rem;
	  background-color: #f7f7f7;
	  color: #1c1818;
  }
  
  .ft-legal a {
	color: #1c1818;
  }
  
  .ft-legal-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
  }
  .ft-legal-list li {
	margin: 0.125rem 0.625rem;
	white-space: nowrap;
  }
  /* one before the last child */
  .ft-legal-list li:nth-last-child(2) {
	  flex: 1;
  }


  /* Home Page - Maftuna */

  .background-overlay {
    background-image: linear-gradient(to bottom, rgba(251, 252, 245, 0.52), rgba(241, 198, 55, 0.73)),url("https://images.unsplash.com/photo-1565350831386-8c52421af9fa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    height: 30em;
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 60px 150px;
    padding-bottom: 4em;
    margin-bottom: 3em;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  } 
  
 .header-container {
    position: relative;
    text-align: center;
    color: #797878;
  }
  
  .main-heading > h1 {
    position: relative;
  }
  
  .main-heading > h1::before {
    content: '';
    position: absolute;
    left: 50;
    bottom: 0;
    width: 4em;
    border-bottom: 1px solid;
  }
  
  .main-heading > h1 > strong  {
    color: #464655;
    font-size: 1.8em;
    font-family: 'Anton';
    letter-spacing: .05em;
    margin-top: 1em;
  }
  
  .main-heading > h1 > span {
    color: #fff;
    font-size: 1.8em;
    font-family: 'Anton';
    letter-spacing: .05em;
  } 

  .main-heading p {
    color: #464655;
  }
  
  .heading-btn {
    background-color: #F5B944;
    border: none;
    color: #464655;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .8em;
    margin-top: .7em;
    border-radius: .8em;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    text-transform: uppercase;
  }
  
  .heading-btn:hover, .prg-btn:hover {
    border-radius: .2em;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    color: #615e5e;
    background: white;
  }

  .achive {
    background: linear-gradient(to bottom, rgba(251, 252, 245, 0.52), rgba(241, 198, 55, 0.73)),url('https://images.unsplash.com/photo-1560264262-fb13f1b9fe74?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    height: 10em;
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 20px 0 30px;
    text-align: center;
    border-bottom: 8px solid #fff;
    position: relative;
  }
  

  .fixed-icon {
    position: fixed;
    bottom: 10px;
    left: 10px; 
    color: #F5B944;
  }

  /* START DATE */

  .start-day {
    background: #797878;
    padding: 20px 0 30px;
    text-align: center;
    border-bottom: 8px solid #fff;
    position: relative;
  }
  
  .start-day::before {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    content: '';
    border: inset 15px;
    border-top-width: 0;
    border-bottom-style: solid;
    border-color: transparent transparent #fff;
  }
  
  .start-day p {
    color: white;
    font-weight: bold;
    font-size: 1em;
  }

/* START DATE */

  /* AREAS OF STUDY */

  .prg {
    background: #ededed;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 1em;
  }
  
  .prg-title {
    color: #F5B944;
    font-weight: bold;
    font-size: 2em;
  
  }
  
  .prg-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .prg-icon {
    width: 120px;
    height: 120px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }
  
  .prg-icon:hover {
    transform: translateY(-7px);
  }
  
  .prg-p {
    font-size: .8em;
    text-transform: uppercase;
    color: #615e5e;
    margin-bottom: 2em;
  }
  
  .divider {
    background-color: #615e5e;
    height: .2em;
    margin: .5em auto;
    width: 4em;
  }
  
  .prg-btn {
    background: #F5B944;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 1.2em;
    margin: 1.2em;
    cursor: pointer;
    border: none;
    text-decoration: none;
    transition: 0.3s all ease-in-out;
    text-transform: uppercase;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }

   /* AREAS OF STUDY */



  /* PROGRAM OPTIONS */

  .options-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    margin: 3em;
  }
  
  .options-drpdown {
    background-color: #F5B944;
    color: #777;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    
  }
  
  .active, .options-drpdown:hover {
    background-color: #ccc;
  }
  
  .options-drpdown:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    text-align: left;
    transition: max-height 0.2s ease-out;
  }

  .panel > ul > li > a{
    color: #615e5e;
  }

  .panel > ul {
    list-style: square outside none;
  }  

  /* PROGRAM OPTIONS */

  /* ABOUT */


.about {
  text-align: center;
  font-style: normal;
  margin-bottom: 4em;
}

.about-title {
  font-size: 1.2em;
  font-weight: bold;
}

.about > div >h3 {
  font-size: 1.6em;
  margin-bottom: 1.8em;
}

.about-drm {
  color: #f58026;
}

.about-cre {
  color: #67a2b9;
}

.about-insp {
  color: #F5B944;
}

.about-p {
  background-image: linear-gradient(#e7b52ad0, #6d6c6c, transparent),url("https://images.unsplash.com/photo-1556761175-129418cb2dfe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 0.5s, border 0.3s, border-radius 0.3s, box-shadow 0.5s;
  padding: 40px;
  color: white;
}


.about-btn {
  background-color: transparent;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 1em;
  cursor: pointer;
  border: 2px solid white;
  transition: 0.3s all ease-in-out;
  text-transform: uppercase;
}

.about-btn:hover, .prg-btn:hover {
  border-radius: .8em;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  color: #615e5e;
  background: white;
}

/* ABOUT */

/* INFO BOX */

.box-container {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}


.box {
  background-color: #fff;
  padding: 0 1em;
  overflow: hidden;
  box-shadow: 0 0 1em rgba(0,0,0,0.4);
  position: relative;
  text-align: center;
  border-radius: .3em;
  top: 0;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  margin-bottom: 2em;
}

.box:hover {
  transform: translateY(-7px);
}

.box-img {
  width:100%;
  margin-top: 1em;
}


.box h2 {
  color: #F5B944;
}

.style-under { 
  background-color: #F5B944;
  height: .125em;
  margin: 1em auto;
  width: 1.6em;
}

.box-btn {
  text-align: center;
  background: #ccc;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  margin: 25px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.box-btn{
  background: #F5B944;
  color: #fff;
}

.box-btn--txt {
  padding: 0 25px;
  line-height: 56px;
  letter-spacing: 0.1em;
}

/* INFO BOX */

/* GALLERY - STUDENT WORKS */

.gallery h2 {
  position: relative;
  font-size: 1.8em;
  text-transform: uppercase;
  text-align: center;
}

.gallery-title {
  font-size: .8em;
}
.gallery-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 70vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}
.item:hover {
  flex: 7;
}

.item-1 {
  background-image: url("https://i.pinimg.com/564x/e1/3a/d6/e13ad6a5534623ff7016b7f5200ee5ad.jpg");
}

.item-2 {
  background-image: url("https://i.pinimg.com/originals/1e/89/bb/1e89bba8327799e1f93fcb63d4f5db1d.gif");
}

.item-3 {
  background-image: url("https://i.pinimg.com/originals/e5/6e/3e/e56e3e2335e5f4745c32c18fa5cc087c.gif");
}

.item-4 {
  background-image: url("https://i.pinimg.com/originals/ca/eb/1d/caeb1d61f01288df55fbdb1f6f4ae990.gif");
}

.item-5 {
  background-image: url("https://i.pinimg.com/564x/83/af/77/83af773ff7ec66354e5b18863667c0b3.jpg");
}

/* Grades */

.grads-profile {
  display: none;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
}





  @media screen and (min-width: 41.25em) {
    .background-overlay {
      background-image: linear-gradient(to bottom, rgba(8, 8, 8, 0.52), rgba(7, 7, 7, 0.73)),url("https://images.unsplash.com/photo-1565350831386-8c52421af9fa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
      padding-bottom: .5em;
    }

    .main-heading > h1::before {
      content: '';
      position: absolute;
      left: 50;
      bottom: 0;
      width: 13em;;
      border-bottom: 1px solid;
    }
    
    .main-heading > h1 > strong {
      color: #F5B944;
      font-size: 2.8em;
      margin-top: 1em;
    
    }
    
    .main-heading > h1 > span  {
      color: #fff;
      font-size: 2.8em;
    } 

    .main-heading p {
      color: #ffffff;
    }

    .heading-btn {
      background-color: #F5B944;
      border: none;
      color: #464655;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-left: 1em;
      margin-top: 2em;
      border-radius: .8em;
      cursor: pointer;
      transition: 0.3s all ease-in-out;
      text-transform: uppercase;
    }
    
    .heading-btn:hover, .prg-btn:hover {
      border-radius: .2em;
      cursor: pointer;
      transition: 0.3s all ease-in-out;
      color: #615e5e;
      background: white;
    }

   

    .start-day p {
      font-size: 1.3em;
    } 
    

    /* AREAS OF STUDY */

    .prg-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .prg-icon {
      width: 160px;
      height: 160px;
    }

    .prg-p {
      font-size: 1.2em;
    }

    .prg-title {
      font-size: 3em;
    }

    /* PROGRAM OPTIONS */

    .options-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 1em;
      /* margin: 4em; */
    }


    /* ABOUT */

    .about-title {
      font-size: 1.8em;
    }


  /* INFO BOX */

   .box-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin-bottom: 4em;
    margin-left: 2em;
    margin-right: 2em;
  } 
  .box {
    margin-bottom: 0;
  }

   
.gallery h2 {
  position: relative;
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center;
}

.gallery-title {
  font-size: .8em;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}
}



  /* Program page - Hailey */
  .program-btn{
    list-style: none;
    margin: 1em;
    padding: 0;
    overflow: auto;
  }

  .program-btn-title {
    color: #F5B944;
    font-size: 1.5em;
  }

  .program-btn-list label {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    border: 1px solid #e7b52ad0;
    border-radius: 4px;
    margin: 0.5em;
}

  input[type=radio] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
  input[type=radio]:checked ~ .check {
    border: 5px solid #e7b52ad0;
  }
  
  input[type=radio]:checked ~ .check::before{
    background: #e7b52ad0;
  }
  
  input[type=radio]:checked ~ label{
    color: #e7b52ad0;
  }

  .title {
    width:100%;
  }

  .course-img {
    height: 20vh;
    width: 100%;
  }

  .program-img {
    width: 100%
  }

  .program-title-container, .apply-btn{
    margin: 0;
    padding: 0.5em 0.5em;
    text-align: center;
  }
  
  .program-title {
    color: #F5B944;
    margin: 1em 0em 0.5em 0;
    font-size: 1.5em;
  }

  .program-start {
    color: #1c1818;
    font-size: 1em;
    margin: 1em 0;
  }

  .info-title {
    font-size: 1.2em;
    font-weight: 100;
    margin-bottom: 0.5em;
  }

  .program-info {
    margin: 0 5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    border-top: solid 1px #1c1818;
  }

  .btn {
    background-color: #F5B944;
    border: solid 1px white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 1em 0;
  }

  .program-about-title {
    font-size: 1.5em;
    border-top: solid 2px var(--color-blue);
    margin-bottom: 0.5em;
  }

  .program-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 2em 2em;
  }


  
  @media only screen and (max-width: 40em) {
    .program-about {
      display: grid;
      grid-template-columns: 1fr;
    }
    .program-info {
      margin: 0 5em;
      display: grid;
      grid-template-columns: 1fr;
      border-top: solid 1px #1c1818;
      text-align: center;
    }

    .ft-main {
      justify-content: space-evenly;
      font-size: 0.7em;
    }

    .ft-title {
      font-size: 1.3em;
    }
  }


  /* Studen Page */

  .profile {
    position: relative;
    box-shadow: 0 3px 15px rgba(51, 51, 51, 0.2);
    border-radius: 10px;
    transition: .2s ease;
  }
  
  .profile-smallimg {
    width: 300px;
    border-radius: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: center;
  }
  .profile-smallimg .profile__image {
    margin-top: -40px;
  }
  .profile-smallimg .profile__image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 0 0 7px #F5B944; /* secondary color */
  }
  .profile-smallimg .profile__info {
    margin: 10px 30px 15px;
  }
  .profile-smallimg .profile__stats {
    margin: 0 30px 10px;
  }
  .profile-smallimg .profile__stats:nth-of-type(n+4) {
    display: none;
  }
  .profile-smallimg .profile__cta a {
    border-radius: 0 0 10px 10px;
  }
  .button {
    outline: none;
    text-align: center;
    display: inline-block;
    border: none;
    font: 500 16px/1 "Poppins", sans-serif;
    padding: 20px;
    cursor: pointer;
    background: #F5B944;
    position: relative;
    top: 0;
    transition: 0.2s ease;
  }
  .button:hover, a.button.hover {
    top: -3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }
  .button:active, a.button.active {
    background: #F5B944;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    top: 0;
  }
  

    /*  Student Page - Clara */

  .student-header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/4.jpg);
    height:10em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    color: white;
    font-size: 1.5em;
    padding: 2.5em 2.5em 0 2.5em ;
    text-transform: uppercase;
  }

  .student-header h1 {
    margin: 0;
    border-bottom: 1px solid white;
    width: 25%;
  }

  .student-header p {
   font-size: 0.75em;
   width: 40%;
  }

  .student-essentials {
    padding: 2em;
    background-color: var(--color-white);
  }

  .student-essentials h2 {
    font-size: 1.5em;
    padding: 1em 0;
    margin-top: 1em;
  }

  .student-schedule ol, .assignments ol, .grades ol, .materials {
    padding: 2em;
  }

  .student-essentials ol {
    background-color: white;
  }

  .schedule {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .assignment {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .materials {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
  }

  .materials li a {
    display: block;
    background-color: white;
    text-align: center;
    padding: 1em 0;
    font-size: 1.25em;
    font-weight: 600;
  }

  .services-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0;
    
  }

  .center {
    text-align:center;
    margin: 2em 0;
  }

  .bold {
    font-weight: 600;
  }
  
  .opportunities ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
  }

  .opportunities ul li a {
    color: white;
    font-weight: bold;
    display:block;
    text-align: center;
    margin-top: 15em;
  }

  .services {
    margin: 2em;
  }

  .info-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/students.jpeg);
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
    height: 5em;
    margin: 2em 0;
    color: white;
    text-align: center;
    padding: 5em;
  }

  .info-section p {
    margin: 0 auto;
    width: 50%;
  }

  .student-schedule h2, .orange {
    color: #f58026;
  }

  .assignments h2, .blue{
    color: #67a2b9;
  }

  .grades h2, .green {
    color: #7A9C4E;
  }

  .course-materials h2, .red {
    color: #D74022;
  }

  @media screen and (max-width: 60em) {
    .student-header h1, .student-header p{
      width: 100%;
      text-align: center;
    }

    .services-nav {
      display:block;
    }

    .student-schedule ol, .assignments ol, .grades ol, .materials, .student-essentials {
      margin: 2em 0;
    }

    .materials {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-left:0;
    }

    .info-section p{
      width: 90%;
    }

  }

  /* Updated Studen Page */
  .grid-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1em 2em;
  }

  .profile-smallimg {
    background: var(--backgroundColor);
    color: var(--foregroundColor);
    box-shadow: 0 3px 15px rgba(51, 51, 51, 0.2);
    border-radius: 10px;
    transition: .2s ease;
    margin-top: 4em;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    text-align: center;
  }
  .profile-smallimg .profile__image {
    margin-top: -40px;
  }
  .profile-smallimg .profile__image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 0 0 7px #F5B944; /* secondary color */
  }
  .profile-smallimg .profile__info {
    margin: 10px 30px 15px;
  }
  .profile-smallimg .profile__stats {
    margin: 0 30px 10px;
  }
  .profile-smallimg .profile__stats:nth-of-type(n+4) {
    display: none;
  }
  .profile-smallimg .profile__cta a {
    border-radius: 0 0 10px 10px;
  }
  .button {
    outline: none;
    text-align: center;
    display: inline-block;
    border: none;
    font: 500 16px/1 "Poppins", sans-serif;
    padding: 20px;
    cursor: pointer;
    border-radius: var(--borderRadius);
    background: #F5B944;
    color: var(--backgroundColor);
    position: relative;
    top: 0;
    transition: 0.2s ease;
  }
  .button:hover, a.button.hover {
    top: -3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }
  .button:active, a.button.active {
    background: #F5B944;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    top: 0;
  }

  /* Student-detailed page */
  .right {
    background-color: #fff;
    padding: 0 1em;
  }

  .left {
    background-color: #3d3e42;
    padding: 0 1em;
    color: #fff
  }

  .resume-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contact-grid ul {
    list-style: none;
  }

  .contact-info li {
    font-size: 1.3em;
  }
  
  .resume-head, .bold {
    font-size: 1.3em;
    color: #F5B944;
  }

  .picture-resume {
    width: 220px;
    height: 220px;
    background-size: cover;
    border-radius: 50%;
    margin-right: 0px;
    display: table;
    position: relative;
    vertical-align: middle;
  }
  
  .skill-percentage {
    margin-bottom: 10px;
    position: relative;
  }
  .skill-percentage::after {
    content: "";
    width: 100%;
    height: 6px;
    background: #4a4e51;
    display: block;
    margin-top: 3px;
  }
  .skill-percentage::before {
    content: "";
    height: 6px;
    background: #F5B944;
    position: absolute;
    margin-top: 3px;
    bottom: 0;
  }
  .skill-percentage:nth-child(1)::before {
    width: 80%;
    animation: skill_1 0.6s ease;
  }
  
  @keyframes skill_1 {
    from {
      width: 0%;
    }
    to {
      width: 80%;
    }
  }

  .resume-name {
    font-family: Sacramento;
    float: right;
    margin-top: 10px;
    margin-right: 4%;
  }
  
  @media only screen and (max-width: 430px) {
    .left,
    .right {
      display: none;
    }
    .stuff {
      width: 100%;
      margin-left: 10px;
    }
  }