/* Nav bar */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
  --color-blue: #2B415C;
  --middlecolor: #959a8f;
  --color-white: #f7f7f7;
  --color-babypink: #f6abab;
  --color-mint: #cf9e76;
  --color-background: #cf9e76;
  --color-lightkhaki: #cf9e76;
  
}

body {
  /* font-family: 'tt_norms',Arial,Helvetica,sans-serif;    */
  font-family: 'Montserrat',sans-serif;
  font-style: normal;    
  font-weight: 400;   
  font-size: 1em;   
  line-height: 1.5;
  background: var(--color-white);    
  color: #615e5e;
  background-color: var(--color-white);
  }
  a {
    text-decoration: none;
  } 

.header {
    position: relative;
    background-color: #797878;
    overflow: hidden;
    min-width: 21.875em;
}

.header a {
  color: var(--color-white);
}

  
.header h1 {
    float: left;
    color: var(--color-white);
  }
  
  #menu-toggle {
    display: block;
    float: right;
    color: var(--color-white);
    text-decoration: none;
    padding: .75em;
    margin: 1em 1em 0 0;
  }
  
  .nav ul {
    clear: left;
    list-style-type: none;
    color: var(--color-white);
    padding-left: 0;
    margin-bottom: 0;
  }
  
  #toggled {
    display: none;
  }
  
  .nav > ul > li {
    padding: 1em 0 1em 1.4em;
    border-top: 1px grey solid;
    text-transform: uppercase;
    margin-right: 3em; 
  } 

 .logo { 
  width: 6.125em;
  padding-left: .5em;
  margin-left: 3em;
}

@media screen and (min-width: 41.25em) {
  
    #menu-toggle {
        display: none;
      }
      .nav {
        float: right;  
      }
      .nav ul {
        display: block !important;
      }
      .nav > ul > li {
        float: left;
        padding: 1em;
        border-top: none;
      }
}

/* Footer */
footer {
	background-color: #f7f7f7;
	color: #1c1818;
	line-height: 1.5;
  }
  footer a {
	text-decoration: none;
	color: #1c1818;
  }
  
  footer a:hover {
	text-decoration: underline;
  }
  
  footer li {
	list-style: none;
  }
  
  .ft-title {
	color: #1c1818;
	font-family: "Courgette", serif;
	font-size: 1.375rem;
	padding-bottom: 0.625rem;
  }
  
  /* Sticks footer to bottom */
  body {
	display: flex;
	min-height: 100vh;
  flex-direction: column;
  }
  .container {
	flex: 1;
  }
  
  /* Footer main */
  .ft-main {
	padding: 1.25rem 1.875rem;
	display: flex;
	flex-wrap: wrap;
  }
  @media only screen and (min-width: 29.8125rem /* 477px */) {
	.ft-main {
	  justify-content: space-evenly;
	}
  }
  @media only screen and (min-width: 77.5rem /* 1240px */) {
	.ft-main {
	  justify-content: space-evenly;
	}
  }
  .ft-main-item {
	padding: 1.25rem;
	min-width: 12.5rem;
  }
  
  /* Footer main | Newsletter form */
  .email {
	text-align: center;
  }
  
  input[type="email"] {
	border: 0;
	padding: 0.625rem;
	margin-top: 0.3125rem;
  }
  input[type="submit"] {
	background-color:#464655;
	color: var(--color-white);
	cursor: pointer;
	border: 0;
	padding: 0.625rem 0.9375rem;
	margin-top: 0.3125rem;
  }

  /* Footer social */
  .ft-social-list {
	display: flex;
	justify-content: center;
	border-top: 1px #777 solid;
	padding-top: 1.25rem;
	
  }
  .ft-social-list li {
	margin-right: 1.25em;
	font-size: 2rem;
	list-style: none;
  }

  .ft-social-list li a:link,
  .ft-social-list li a:visited {
      text-decoration: none;
      border: 0;
      color: #1c1818;
      -webkit-transition: color 0.2s;
      transition: color 0.2s;
  }

.logo-facebook:hover {
    color: #4a6fc0;
}

.logo-twitter:hover {
    color: #00aced;
}

.logo-googleplus:hover {
    color: #dd4b39;
}

.logo-instagram:hover {
    color:#bc2a8d;
}

  /* Footer legal */
  .ft-legal {
	  padding: 0.9375rem 1.875rem;
	  background-color: #f7f7f7;
	  color: #1c1818;
  }
  
  .ft-legal a {
	color: #1c1818;
  }
  
  .ft-legal-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
  }
  .ft-legal-list li {
	margin: 0.125rem 0.625rem;
	white-space: nowrap;
  }
  /* one before the last child */
  .ft-legal-list li:nth-last-child(2) {
	  flex: 1;
  }


  /* Home Page - Maftuna */

  .background-overlay {
    background-image: linear-gradient(to bottom, rgba(251, 252, 245, 0.52), rgba(241, 198, 55, 0.73)),url("/img/banner-05.png");
    height: 400px;
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 30px 150px;
  }
  
  .header-container {
    position: relative;
    text-align: center;
    color: #797878;
  }
  
  .main-heading {
    position: absolute;
    top: 4.5em;
    left: 1.5em;
  }
  
  .main-heading > h1 {
    position: relative;
  }
  
  .main-heading > h1::before {
    content: '';
    position: absolute;
    left: 50;
    bottom: 0;
    width: 12em;;
    border-bottom: 1px solid;
  }
  
  .main-heading > h1 > strong {
    color: white;
    font-size: 2.8em;
    font-family: 'Anton';
    letter-spacing: .05em;
    margin-top: 1em;
  
  }
  
  .main-heading > h1 > span  {
    color: #797878;
    font-size: 2.8em;
    font-family: 'Anton';
    letter-spacing: .05em;
  }

  /* START DATE */

  .start-day {
    background: #797878;
    padding: 20px 0 30px;
    text-align: center;
    border-bottom: 8px solid #fff;
    position: relative;
  }
  
  .start-day::before {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    content: '';
    border: inset 15px;
    border-top-width: 0;
    border-bottom-style: solid;
    border-color: transparent transparent #fff;
  }
  
  .start-day p {
    color: white;
    font-weight: bold;
    font-size: 1.3em;
  }

/* START DATE */

  /* AREAS OF STUDY */

  .prg {
    background: #ededed;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 1em;
  }
  
  .prg-title {
    color: #F5B944;
    font-weight: bold;
    font-size: 2em;
  
  }
  
  .prg-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .prg-icon {
    width: 120px;
    height: 120px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }
  
  .prg-icon:hover {
    transform: translateY(-7px);
  }
  
  .prg-p {
    font-size: .8em;
    text-transform: uppercase;
    color: #615e5e;
  }
  
  .divider {
    background-color: #615e5e;
    height: .2em;
    margin: .5em auto;
    width: 4em;
  }
  
  .prg-btn {
    background: #F5B944;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 1.2em;
    margin: 1.2em;
    cursor: pointer;
    border: none;
    text-decoration: none;
    transition: 0.3s all ease-in-out;
    text-transform: uppercase;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }

   /* AREAS OF STUDY */



  /* PROGRAM OPTIONS */

  .options-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    margin: 3em;
  }
  
  .options-drpdown {
    background-color: #F5B944;
    color: #777;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    
  }
  
  .active, .options-drpdown:hover {
    background-color: #ccc;
  }
  
  .options-drpdown:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    text-align: left;
    transition: max-height 0.2s ease-out;
  }

  .panel > ul > li > a{
    color: #615e5e;
  }

  .panel > ul {
    list-style: square outside none;
  }

  /* PROGRAM OPTIONS */

  /* ABOUT */


.about {
  text-align: center;
  font-style: normal;
  margin-bottom: 4em;
}

.about-title {
  font-size: 1.2em;
  font-weight: bold;
}

.about > div >h3 {
  font-size: 1.6em;
  margin-bottom: 1.8em;
}

.about-drm {
  color: #f58026;
}

.about-cre {
  color: #67a2b9;
}

.about-insp {
  color: #F5B944;
}

.about-p {
  background-image: linear-gradient(#e7b52ad0, #6d6c6c, transparent),url("https://images.unsplash.com/photo-1556761175-129418cb2dfe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 0.5s, border 0.3s, border-radius 0.3s, box-shadow 0.5s;
  padding: 40px;
  color: white;
}


.about-btn {
  background-color: transparent;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 1em;
  cursor: pointer;
  border: 2px solid white;
  transition: 0.3s all ease-in-out;
  text-transform: uppercase;
}

.about-btn:hover, .prg-btn:hover {
  border-radius: .8em;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  color: #615e5e;
  background: white;
}

/* ABOUT */

/* INFO BOX */

.box-container {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}


.box {
  background-color: #fff;
  padding: 0 1em;
  overflow: hidden;
  box-shadow: 0 0 1em rgba(0,0,0,0.4);
  position: relative;
  text-align: center;
  border-radius: .3em;
  top: 0;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  margin-bottom: 2em;
}

.box:hover {
  transform: translateY(-7px);
}

.box-img {
  width:100%;
  margin-top: 1em;
}


.box h2 {
  color: #F5B944;
}

.style-under {
  
  background-color: #F5B944;
  height: .125em;
  margin: 1em auto;
  width: 1.6em;
}

.box-btn {
  text-align: center;
  background: #ccc;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  margin: 25px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.box-btn{
  background: #F5B944;
  color: #fff;
}

.box-btn--txt {
  padding: 0 25px;
  line-height: 56px;
  letter-spacing: 0.1em;
}

/* INFO BOX */

/* GALLERY - STUDENT WORKS */

.gallery h3 {
  position: relative;
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center;
}

.gallery-title {
  font-size: .8em;
}
.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}
.item:hover {
  flex: 7;
}

.item-1 {
  background-image: url("https://i.pinimg.com/564x/e1/3a/d6/e13ad6a5534623ff7016b7f5200ee5ad.jpg");
}

.item-2 {
  background-image: url("https://i.pinimg.com/originals/1e/89/bb/1e89bba8327799e1f93fcb63d4f5db1d.gif");
}

.item-3 {
  background-image: url("https://i.pinimg.com/originals/e5/6e/3e/e56e3e2335e5f4745c32c18fa5cc087c.gif");
}

.item-4 {
  background-image: url("https://i.pinimg.com/originals/ca/eb/1d/caeb1d61f01288df55fbdb1f6f4ae990.gif");
}

.item-5 {
  background-image: url("https://i.pinimg.com/564x/83/af/77/83af773ff7ec66354e5b18863667c0b3.jpg");
}




  @media screen and (min-width: 41.25em) {
    .background-overlay {
      background-image: url("/img/banner-05.png");
    }

    .header-container {
      text-align: left;
    }

    .main-heading > h1::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 10em;;
      border-bottom: 1px solid;
    }
    

    /* AREAS OF STUDY */

    .prg-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .prg-icon {
      width: 160px;
      height: 160px;
    }

    .prg-p {
      font-size: 1.2em;
    }

    .prg-title {
      font-size: 3em;
    }

    /* PROGRAM OPTIONS */

    .options-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 1em;
      margin: 4em;
    }


    /* ABOUT */

    .about-title {
      font-size: 1.8em;
    }


  /* INFO BOX */

   .box-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin-bottom: 4em;
    margin-left: 2em;
    margin-right: 2em;
  } 
  .box {
    margin-bottom: 0;
  }
}


  /* Program page - Hailey */
  .title {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.unsplash.com/photo-1497015289639-54688650d173?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.unsplash.com/photo-1497015289639-54688650d173?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 30vh;
    background-attachment: fixed;
    margin: 0;
    color: var(--color-white);
    text-align: center;
    font-size: 3em;
  }

  .course-img {
    height: 20vh;
    width: 100%;
  }

  .program-title-container, .apply-btn{
    margin: 0;
    padding: 0.5em 0.5em;
    text-align: center;
  }
  
  .program-title {
    color: var(--color-blue);
  }

  .program-start {
    color: var(--color-blue);
    font-size: 1em;
  }

  .program-info {
    margin: 0 5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    border-top: solid 1px #1c1818;
  }

  .btn {
    background-color: var(--color-blue);
    border: solid 1px white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .program-about-title {
    font-size: 1.5em;
    border-top: solid 2px var(--color-blue)
  }

  .program-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }